spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:alura-forum
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-aut: update
  h2:
    console:
      enabled: true
      path: /h2-console